*{
    font-family: "Roobert", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: white;
    background-color: #000563;
}
body{
    margin: 15px;
    padding-left: 15px;
}

h1#PageName{
    font-size: 30px;
    margin: 10px;
}

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
}
#logo{
    width: 150px;
    margin: 10px;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    transition: color 0.15s linear;
}/*yellow text*/
li.navbar a#bitAc {
    color: #FFFF00;
}
li.navbar a:hover, li.navbar a#bitAc:hover {
    color: #33C1D3;
}
ul#header{
    padding: 10px;
}
textarea#warning{
    display: block;
    padding: 12px;
    height: 7vw;
    font-size: 2vw;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    color: black;
}
textarea#text {
    display: block;
    padding: 12px;
    height: 20vw;
    font-size: 3vw;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    color: black;
}

/*hide icon in desktop*/
.topnav li #menuButton{
    display: none;
}
/*smaller screen sizes*/
@media screen and (max-width: 800px) {


    /*start nav bar opening*/

    .navItem {
        overflow: hidden;
        background-color: transparent;
    }

    .topnav {
        position: relative;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav li a.navItem{
        height: 0;
        text-align: center;
        width: 88%;
        padding: unset;
        padding-left: 15px;
    }

    .topnav a#menuButton {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.5s ease-out;
    }
    .topnav a#menuButton:hover {
        background-color: white;
        color: #000563;
        border-radius: 25px;
    }

    /*when unfolded, is .responsive*/

    /*location menu button*/
    .topnav.responsive #menuButton {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li a.navItem {
        display: block;
        text-align: center;
        width: 88%;
        transition: all 0.5s ease;
        height: 29px;
        padding: 15px 15px;
    }

    /*end nav bar opening*/

    header{
        grid-template: none;
    }
    ul{
        display: inline-block;
    }
    li.navbar {
        width: 100%;
        text-align: center;
        margin: 2px;
    }
    li.navbar a {
        border-radius: 25px;
        font-size: 24px;
        transition: all 0.5s ease-out;
    }
    li.navbar a:hover, li.navbar a#bitAc:hover {
        background-color: aliceblue;
        color: #000563;
        border-radius: 25px;
    }
}