*{
    font-family: "Roobert", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: white;
    background-color: #000563;
}
body{
    margin: 15px;
    padding-left: 15px;
}

h1#PageName{
    font-size: 30px;
    margin: 10px;
}

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
}
#logo{
    width: 150px;
    margin: 10px;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    transition: color 0.25s linear;
}/*yellow text*/
li.navbar a#bitAc {
    color: #FFFF00;
}
li.navbar a:hover {
    color: #33C1D3;
}
ul#header{
    padding: 10px;
}
textarea#warning{
    display: block;
    padding: 12px;
    height: 7vw;
    font-size: 2vw;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    color: black;
}
textarea#text {
    display: block;
    padding: 12px;
    height: 20vw;
    font-size: 3vw;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    color: black;
}

/*hide icon in desktop*/
.topnav li .icon{
    display: none;
}
@media screen and (max-width: 800px) {

    /*start nav bar opening*/

    .topnav li a.navItem{
        display: none;
    }

    .navItem {
        overflow: hidden;
        background-color: transparent;
    }
/*when unfolded is responsive*/
    .topnav {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive li a.navItem {
        display: block;
        text-align: center;
        width: 88%;
    }
    .topnav.responsive .dropdown {float: right;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: right;
    }
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /*end nav bar opening*/

    header{
        grid-template: none;
    }
    ul{
        display: inline-block;
    }
    li.navbar {
        width: 100%;
        text-align: center;
        margin: 2px;
    }
    li.navbar a {
        border-radius: 25px;
        font-size: 24px;
    }
    li.navbar a:hover {
        background-color: aliceblue;
        color: #000563;
        border-radius: 25px;
        transition: background-color 1s ease-out;
    }

    textarea#warning{
        display: block;
        padding: 12px;
        height: 24vw;
        font-size: 5vw;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    textarea#text {
        display: block;
        padding: 12px;
        height: 40vw;
        font-size: 5vw;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}