#PrePlanning {
    margin: 50px 0 0 0;
}

h1#pagetitle {
    text-align: center;
}

/*grid*/
#PlanningGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    gap: 20px;
    margin: 20px;
}

.GridItem {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 0.25rem;
}

/*font sizes and centering*/
ul.ticketList {
    display: flex;
    list-style-type: none;
    align-items: center;
    grid-column: span 2;
    padding: 0;
}

p.ticket_title {
    font-weight: bold;
    font-size: 24px;
}

p.ticket_desc {
    font-size: 16px;
}

/*the boxes in the previous plannings*/
.category{
    border: 1px solid white;
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.1);
}

.deadline {
    border: 1px solid white;
    display: grid;
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.3);
}

.time{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
}

p{
    padding: 3px;
}

.deadlineFinished{
    color: darkred;
}

.category2{
    border: 1px solid white;
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.2);

}

.deadline2{
    border: 1px solid white;
    display: grid;
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
    background-color: rgb(84,108,93);
}

.time2{
    border: 1px solid white;
    display: grid;
    background-color: rgb(170,67,114);
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
}

/*responsive*/
@media screen and (max-width: 1500px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 700px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr);
    }
}