*{
    font-family: Arial;
    margin: 0;
    color: white;
    background-color: #000563;
}
body{

}
h1#PageName{
    font-size: 30px;
    margin: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    width: 10%;
}
li.navbar {
    float: right;
}
#logo{
    float: left;
    width: 250px;
    margin: 10px;
}

li a {
    display: block;
    text-align: center;
    margin-top: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
li a:hover {
    background-color: #000680;
    border-radius: 25px;
}
ul#header{
    padding: 10px;
}
p {
    margin: 10px;
}
@media screen and (max-width: 800px) {
    li {
        width: 100%;
        text-align: center;
        float: none;
        margin-top: 2px;
    }
    li a {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        color: black;
        background-color: aliceblue;
        border-radius: 25px;
    }
    li a:hover {
        background-color: darkblue;
        color: white;
        border-radius: 25px;
    }
    li.navbar {
        opacity: 100%;
    }

}