*{
    font-family: "Roobert", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: white;
}

html {
    background-color: #000563;
}

body{
    margin: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1#PageName{
    font-size: 30px;
    margin: 10px;
}

/*For the warning box that displays and you can click away*/
.alert {
    padding: 20px;
    margin: 5% auto;
    position: fixed;
    top: 6%;
    left: 34%;
    background-color: #56587D;
    color: white;
    border-radius: 25px;
    width: 30%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.closebtn:hover {
    color: black;
}

/*For the light blue panels on the left and right side of the website*/
.lastWeekPlanning {
    display: inline-block;
    position: fixed;
    left: 0;
    width: 30%;
    height: 50%;
    background-color: #8082B1;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
}

.thisWeekPlanning {
    display: inline-block;
    position: fixed;
    right: 0;
    width: 30%;
    background-color: #8082B1;
    margin: 10px;
    border: black;
    border-radius: 25px;
    text-align: center;
}

.listItem {
    background-color: white;
    color: black;
    border-radius: 35px;
    margin: 5px;
    padding: 5px;
    width: 25vw;
    line-height: 1.5;
    height: auto;
}

/*Only for the textbox in the "last week planning"*/
textarea {
    margin: 10px;
    width: 80%;
    height: 35%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

/*For the middle part of the website where you can add a subject and a time period*/
#addToPlanning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#listOfSubjects {
    width: 90%;
    display: inline-block;
    margin: 10px;
}

/*For the submit/add button*/
button {
    background-color: gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/*For all the questions being asked the color gets changed*/
label.questions {
    color: black;
    background-color: transparent;
}

/*For all the input boxes that should be white and black text */
select, option, input {
    margin: 10px;
    width: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 800px) {

    * {
        text-align: center;
        font-size: 20px;
    }

    body {
        overflow-y: visible;
    }

    h1#PageName {
        font-size: 50px;
        font-weight: bold;
    }

    /*For the warning box that displays and you can click away*/
    .alert {
        margin: 10px auto auto;
        display: block;
        background-color: #56587D;
        position: static;
        border-radius: 25px;
        width: 90%;
        font-size: 5vw;
    }

    .closebtn {
        font-size: 33px;
    }

    /*For the light blue panels on the left and right side of the website*/
    .lastWeekPlanning {
        position: static;
        width: 95%;
        margin: 10px auto auto;
    }

    .thisWeekPlanning {
        position: static;
        width: 95%;
        margin: 10px auto auto;
    }

    .PlanningHeader {
        text-decoration: none;
        margin-top: 20px;
        background-color: transparent;
        font-size: xx-large;
    }

    .listItem {
        width: 96%;
    }

    /*Only for the textbox in the "last week planning"*/
    textarea {
        margin: 10px 10px 20px;
        width: 90%;
        height: 60%;
    }

    /*For every label with the tag label*/
    label.label {
        margin: 5px;
        font-size: xx-large;
    }
}