#PrePlanning {
    margin: 50px 0 0 0;
}

h1#pagetitle {
    text-align: center;
}

/*grid*/
#PlanningGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    gap: 20px;
    margin: 20px;
}

.GridItem {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 8px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: rgb(235,236,240);
}

/*font sizes and centering*/
.ticketList {
    display: flex;
    align-items: center;
    grid-column: span 2;
    padding: 0;
}

p {
    margin: 0;
}

p.ticket_title {
    font-weight: bold;
    font-size: 24px;
}

p.ticket_desc {
    font-size: 16px;
}

/*the boxes in the previous plannings*/
.category{
    grid-column: span 2;
    border: 1px solid rgb(255,255,255);
    background-color: rgb(255, 255, 255);
}

.deadline {
    display: grid;
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
    border: 1px solid rgb(255,255,255);
    background-color: rgb(255, 255, 255);
}

.time{
    border: 1px solid rgb(255,255,255);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template: auto/ minmax(0, 1fr) minmax(0, 1fr);
    grid-column: span 2;
}

p{
    padding: 3px;
    color: black;
}

/* Color when task is finished */
.finishedColorYes{
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 4px;
    max-width: 125px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    background-color: green;
    border-radius: 4px;
}

/* Color when task isn't finished */
.finishedColorNo{
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 4px;
    max-width: 125px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    background-color: red;
    border-radius: 4px;
}


/*responsive*/
@media screen and (max-width: 1500px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 700px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr);
    }
}