*{
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

html {
    background-color: #000563;
}

body{
    margin: 10px;
}

h1#PageName{
    font-size: 30px;
    margin: 10px;
}

header {
    display: grid;
    grid-template: auto / 1fr 2fr;
}

ul#header{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

#logo{
    width: 250px;
    margin: 10px;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    border-radius: 25px;
    transition: background-color 1s ease-out;
}

li.navbar a:hover {
    background-color: aliceblue;
    color: #000563;
    border-radius: 25px;
}

@media screen and (max-width: 800px) {


    header{
        grid-template: none;
    }
    ul#navbar{
        display: inline-block;
    }
    li.navbar {
        width: 100%;
        text-align: center;
        margin-top: 2px;
    }
    li.navbar a {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 25px;
    }
    li.navbar a:hover {
        background-color: aliceblue;
        color: #000563;
        border-radius: 25px;
    }
    li.navbar {
        opacity: 100%;
    }

}