/* Set Grid */
#grid-container {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
}

/* Center welcome text */
.welcome {
    text-align: center;
    margin: 3% 0;
}
/* Headers of the instruction blocks */
.admin_head, .submit_head {
    text-align: center;
}

/* Give height and width to screenshots */
.screenshot_admin, .screenshot_submit {
    margin-top: 2%;
    width: 100%;
}

/* Give instruction a border and center it */
.instruction_submit, .instruction_admin {
    padding: 15px;
    width: 75%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 0.25rem;
    display: none;
    overflow: hidden;
}

.accordion {
    padding: 15px;
    background-color: #1db2cb;
    border: none;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
}

.instruction_admin{
    grid-column-start: 2;
    grid-row: span 2;
}

.instruction_submit{
    grid-column-start: 1;
}

.butAdmin{
    grid-column-start: 2;
    grid-row-start: 1;
}

/* Responsive for max-width 800px */
@media screen and (max-width: 800px) {
    /* Set grid items underneath each other*/
    #grid-container {
        margin-bottom: 35px;
    }

    .instruction_submit{
        grid-row-start: 2;
        grid-column: span 2;
    }

    .instruction_admin{
        grid-row-start: 3;
        grid-column: span 2;
    }
}

@media screen and (max-width: 470px){

    #grid-container{
        grid-gap: 20px;
    }

    .accordion{
        grid-column: span 2;
    }

    .butSubmit{
        grid-row-start: 1;
    }

    .butAdmin{
        grid-row-start: 2;
    }

    .instruction_submit{
        grid-row-start: 3;
    }

    .instruction_admin{
        grid-row-start: 4;
    }
}
