@import url(../Header/style.css);

/*form select students*/
#formAdmin {
    display: grid;
    grid-gap: 30px;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    font-size: 30px;
    text-align: center;
}

.labelName {
    grid-row-start: 1;
}

.select {
    margin: auto;
    color: black;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    border: none;

}
button {
    font-size: 20px;
    width: 20%;
    color: black;
    grid-column: span 2;
    margin: auto;
    border-radius: 10px;
    border: none;
}

option {
    color: black;
}

/*your prePlanning*/
#PrePlanning {
    margin: 50px 0 0 0;
}

h1#pagetitle {
    text-align: center;
}

#PlanningGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
    margin: 20px;
}

.GridItem {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 5px;
    padding: 10px;
    border: 3px solid #707070;
    border-radius: 15px;
    background-color: rgba(82, 82, 82, 0.5);
}

ul.ticketList {
    display: flex;
    list-style-type: none;
    align-items: center;
    grid-column: span 2;
    padding: 0;
}

p.ticket_title {
    font-weight: bold;
    font-size: 24px;
}

p.ticket_desc {
    font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1500px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media screen and (max-width: 800px) {
    #formAdmin {
        grid-template: auto / minmax(0, 1fr);
        grid-gap: 15px;
    }

    .labelName {
        grid-row-start: auto;
    }

    button {
        grid-column: span 1;
    }
}

@media screen and (max-width: 700px) {
    #PlanningGrid {
        grid-template: auto / minmax(0, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .select {
        width: auto;
    }

    button {
        width: auto;
    }
}