* {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

/*grid for the page*/
#grid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 15px;
}

/*Start category subject en ticket form*/
.form {
    padding: 15px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template: auto / 30% 70%;
    grid-row-gap: 15px;
    background-color: darkgray;
    border-radius: 15px;
    grid-row: span 2;
}

.formTitle {
    text-align: center;
    grid-column: span 2;
}

.inputTitle {
    font-size: 24px;
}

input {
    font-size: 18px;
    color: black;
}

.Submit {
    width: 20%;
    margin: auto;
    grid-column: span 2;
    color: black;
}

label {
    font-size: 18px;
}

input {
    font-size: 18px;
    color: black;
}

select {
    font-size: 22px;
    color: black;
}

option {
    color: black;
}

/*End category subject en ticket form*/


/*Start popup message*/
.popup {
    width: 20%;
    margin: auto;
    grid-column: span 2;
    color: black;
    position: relative;
    display: inline-block;
}

/*Start of scrollbar category and subject*/
.listGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 15px;
    grid-column: span 2;
}

.existingList {
    height: 200px;
    font-size: 24px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-top: 2px darkgray solid;
}

.container{
    border: 2px darkgray solid;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

#existingtitle {
    font-size: 24px;
    text-align: center;
}

div.existingList::-webkit-scrollbar {
    width: 10px;
}

/*track*/
div.existingList::-webkit-scrollbar-track {
    background: darkgray;
    border-radius: 10px;
}

/* Handle */
div.existingList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1CB2CA;
}

/*Start of scrollbar category and subject*/

/*list of existing category's and subjects*/
#existingtitle {
    padding: 10px;
}

/*end of list of existingcategory's and subjects */

/*responsive*/
@media screen and (max-width: 800px) {
    #grid {
        display: grid;
        grid-template: auto / minmax(0, 1fr);
    }

    .listGrid {
        grid-column: span 1;
        grid-template: auto/ minmax(0, 1fr);
    }

    .form {
        grid-template: auto / 50% 50%;
    }

    ::placeholder {
        font-size: 13px;
    }

    select, input {
        font-size: 13px;
    }

    #formTicket {
        grid-row-start: 3;
    }
}