*{
    font-family: "Roobert", "Helvetica", "Arial", sans-serif;
    /*margin: 0;*/
    color: white;
    overflow-x: hidden;
}

body{
    /*margin-left: 7.5vw;*/
    /*margin-top:3vw;*/
    /*margin-right: auto;*/
    background-color: #000563;

}

h1#PageName{
    font-size: 30px;
    margin: 10px;
}

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 95%;
    background-color: transparent;
}
#logo{
    height: 9vh;
    margin: 10px;
}

/*nav link list items*/
.nav-links ul li {
    display: block;
    transition: all 1s ease;
}
/*div of navlinks*/
.nav-links {
    z-index: 2;
    transition: all 0.3s ease;
}

li.navbar a {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 2.5vh;
    transition: all 0.15s ease;
}
.navbar a:hover, #menuButtonOpen:hover, #menuButtonClosed:hover {
    color: #33C1D3;
}
#header{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5vh;
    margin-right: 5vh;
}
/*hide icon in desktop*/
#menuButtonClosed, #menuButtonOpen{
    display: none;
}
/*smaller screen sizes*/
@media screen and (max-width: 950px) {


    * {
        text-align: center;
        font-size: 20px;
    }
    body {
        overflow-y: visible;
    }
    h1#PageName {
        font-size: 50px;
        font-weight: bold;
    }


/*nav link list items*/
    .nav-links ul li {
        display: block;
        transition: all 1s ease;

    }
/*div of navlinks / white background of mobile nav bar*/
    .nav-links {
        position: absolute;
        background: white;
        height: 100%;
        width: 0;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #logo {
        height: 12vh;
    }


    /*start nav bar opening*/

    .navItem {
        overflow: hidden;
        background-color: transparent;
    }

    .topnav img {
        position: relative;
    }

    .topnav a {
        color: #f2f2f2;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 17px;
    }

    /*normal open text button*/
    #menuButtonClosed {
        color: #f2f2f2;
        margin: 7vh;
        text-decoration: none;
        font-size: 25px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 1s ease-out;
        background-color: transparent;
    }
    #menuButtonOpen {
        color: #000563;
        margin: 7vh;
        text-decoration: none;
        font-size: 25px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 1s ease-out;
        background-color: transparent;
    }

    /*when unfolded, is .responsive*/

    /*location menu button open
     #menuButtonOpen {
         color: #f2f2f2;
         text-align: center;
         padding: 15px 15px;
         text-decoration: none;
         font-size: 17px;
         display: block;
         position: absolute;
         right: 0;
         top: 0;
    }*/

    .topnav.responsive li a.navItem {
        display: block;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.5s ease;
        height: 29px;
        padding: 15px 15px;
    }

    li.navbar a {
        font-size: 4vh;
        text-align: left;
    }

    /*end nav bar opening*/

    header{
        grid-template: none;
    }
    #header {
        margin-top: 14vh;
        width:  90%;
        margin-right: auto;
        margin-left: auto;
    }
    ul{
        display: inline-block;
    }
    .navbar {
        width: 100%;
        text-align: center;
        margin: 2px;
        background-color: transparent;
    }
    .navbar a {
        border-radius: 25px;
        font-size: 24px;
        transition: all 0.5s ease-out;
        color: #000563;
    }
    .listItem {
        width: 96%;
    }

}

/*mobile*/
@media screen and (max-width: 300px) {
    /*normal open text button*/
    #menuButtonClosed {
        margin: 4vh;
    }
    #menuButtonOpen {
        margin: 4vh;
    }
}

@media screen and (max-width: 500px) and (min-height: 1000px) {
    /*normal open text button*/
    #menuButtonClosed {
        margin: 4vh;
    }
    #menuButtonOpen {
        margin: 4vh;
    }
}
@media screen and (min-width: 500px) and (min-height: 1000px) {
    /*normal open text button*/
    #menuButtonClosed {
        font-size: 5vw;
        margin: 5vh;
    }
    #menuButtonOpen {
        font-size: 5vw;
        margin: 5vh;
    }
}